.auth-form{
  width: 50%;
  margin: 0 auto;
  background-color: #f5f5f5e6;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 50px;
  box-shadow: 0px 20px 25px -10px rgba(0, 0, 0, 0.5);
}

.alert-danger {
  color: #721c24;
  background: #f8d7da;
  border-color: #f5c6cb;
  border-radius: 5px;
  width: 100%;
  margin: 5px auto;
}

.container-error-message {
  padding: 2px;
  text-align: start;
}

.password{
  display: flex;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.password input{
  border: none;
}